.footer-container {
    height: var(--footer-height);
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 0.3rem max(5%, 1rem) 0.3rem max(15%, 4rem);
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--acc2);
    font-size: 11.5px;
    letter-spacing: 0.25px;
    font-weight: 300;
}
.copyright {
    color: var(--text-e);
}
.social-links {
    display: flex;
    gap: 2rem;

    a {
        color: var(--text-e);
        transition: color 0.15s ease;

        &:hover,
        &:focus {
            color: var(--main-400);
        }
    }
}