.header-container {
    height: var(--header-height);
    padding-left: 4%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    // background: var(--focus);
    border-bottom: 1px solid var(--acc2);
}
.logo-container {
    display: flex;
    align-items: center;
    // gap: 1rem;

    img {
        height: 75%;
    }
}