.header-container {
    height: var(--header-height);
    padding-left: 4%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--acc2);
}
.logo-container {
    display: flex;
    align-items: center;

    img {
        height: 75%;
    }
}
.color-theme {
    display: flex;
    align-items: center;
}