<div
    class="canvas-container"
    #host
    (window:resize)="onResize()"
    [ngClass]="{fullscreen}"
>
    <div class="toolbar-container">
        <span class="dimensions"> {{ width }}&VeryThinSpace;×&VeryThinSpace;{{ height }} px</span>
        <div class="button-container">
            <button class="button speed-button" title="Toggle drawing speed" (click)="changeDrawingSpeed()">
                <mat-icon>speed</mat-icon>
                <span *ngIf="(drawingSpeed | async) == 1">Fast</span>
                <span *ngIf="(drawingSpeed | async) == 50">50 ms</span>
                <span *ngIf="(drawingSpeed | async)! >= 100">{{(drawingSpeed | async)! / 1000}} s</span>
            </button>
            <button class="button grid-button" title="Toggle grid size" (click)="changeGridSize()">
                <mat-icon *ngIf="(gridSize | async) == 0">grid_off</mat-icon>
                <mat-icon *ngIf="(gridSize | async) != 0">grid_on</mat-icon>
                <span>{{ (gridSize | async) ? (gridSize | async) + ' px' : 'Off' }}</span>
            </button>
            <button class="button fullscreen-button" title="Toggle fullscreen view" (click)="toggleFullscreen()">
                <mat-icon *ngIf="fullscreen">fullscreen_exit</mat-icon>
                <mat-icon *ngIf="!fullscreen">fullscreen</mat-icon>
            </button>
        </div>
    </div>
    <canvas #canvas></canvas>
</div>