/*
  Name:       vscode-dark
  Author:     joker876 (http://github.com/joker876)
*/
@import './fold-gutter';
@import './darkplus';
@import './lightplus';
@import '~codemirror/addon/dialog/dialog';
@import '~codemirror/addon/search/matchesonscrollbar';
@import '~codemirror/addon/scroll/simplescrollbars';

.CodeMirror {
    --editor-font-size: 13px;
    font-size: var(--editor-font-size);
}

.CodeMirror-cursor,
.CodeMirror-activeline-background,
.CodeMirror-matchingbracket::after {
    transform: translateY(calc(var(--editor-font-size) * 0.0765));
}

//! scrollbars
.CodeMirror-scrollbar-filler {
    background: transparent;
}
.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
    background: #737780;
}
.CodeMirror-overlayscroll-horizontal div {
    bottom: 3px;
}
.CodeMirror-overlayscroll-vertical div {
    right: 3px;
}