.CodeMirror-foldmarker {
    color: transparent;
    font-family: Roboto;
    position: relative;
    cursor: pointer;
    margin: 0 3px;
    padding: 0 2px;
    line-height: 70%;
    vertical-align: middle;
}
.CodeMirror-foldmarker::before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0.15em;
    height: 0.825em;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #858585;
    border-radius: 2px;
    text-align: center;
}
.CodeMirror-foldmarker::after {
    content: "...";
    color: white;
    position: absolute;
    left: 50%;
    bottom: 0.5em;
    transform: translateX(-50%);
}
.CodeMirror-gutter-wrapper,
.CodeMirror-gutter-elt {
    height: 100%;
}

.CodeMirror-foldgutter {
    width: 1em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

.CodeMirror-foldgutter-open::after,
.CodeMirror-foldgutter-folded::after {
    content: "";
    position: absolute;
    width: calc(var(--editor-font-size) * 0.38461);
    height: calc(var(--editor-font-size) * 0.38461);
    border-bottom: calc(var(--editor-font-size) * 0.0765) solid currentColor;
    border-right: calc(var(--editor-font-size) * 0.0765) solid currentColor;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.CodeMirror-foldgutter-folded::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
