ng-component,
.panel-container,
.panel1,
.panel2 {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
.panel-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.panel1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
ngx-codemirror {
    flex-grow: 1;
}