<div class="panel-container">
    <div class="panel1">
        <tjs-codemirror
            [(value)]="codemirror"
            [options]="{
                mode: 'javascript',
                theme: 'darkplus',
                gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
                scrollbarStyle: 'overlay',
                indentUnit: 4,
                tabindex: 0,
                autofocus: true,
                lineNumbers: true,
                foldGutter: true,
                styleActiveLine: true,
                matchBrackets: true,
                autoCloseBrackets: true,
                scrollPastEnd: true
            }"
            [autoFocus]="true"
        ></tjs-codemirror>
    </div>
    <div class="panel2">
        <canvas #canvas class="turtle-canvas"></canvas>
    </div>
</div>