<div class="panel-container">
    <div class="panel1">
        <div class="panel-toolbar">
            <div class="button-container">
                <button
                    (click)="onRunClick()"
                    class="run-button"
                    [disabled]="isRunning"
                >
                    <mat-icon>{{ isRunning ? 'more_horiz' : 'play_arrow' }}</mat-icon>
                    <span>Run</span>
                </button>
                <button (click)="onDownloadClick()" class="download-button">
                    <mat-icon>file_download</mat-icon>
                    <span>Download</span>
                </button>
            </div>
        </div>
        <tjs-codemirror
            [value]="codemirror"
            [options]="{
                mode: 'javascript',
                theme: (theme | async) + 'plus',
                gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
                scrollbarStyle: 'overlay',
                indentUnit: 4,
                tabindex: 0,
                autofocus: true,
                lineNumbers: true,
                foldGutter: true,
                styleActiveLine: true,
                matchBrackets: true,
                autoCloseBrackets: true,
                scrollPastEnd: true
            }"
            [autoFocus]="true"
            (valueChange)="onCodemirrorChange($event)"
        ></tjs-codemirror>
    </div>
    <div class="panel2">
        <tjs-turtle-canvas (body:resize)="onCanvasResize()"></tjs-turtle-canvas>
    </div>
</div>