<div>
    <ngx-codemirror
        [(ngModel)]="codemirror"
        [options]="{
            mode: 'javascript',
            theme: 'darkplus',
            indentUnit: 4,
            tabindex: 0,
            autofocus: true,
            lineNumbers: true,
            foldGutter: true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
            styleActiveLine: true,
            matchBrackets: true,
            autoCloseBrackets: true
        }"
    ></ngx-codemirror>
    <canvas #canvas class="turtle-canvas"></canvas>
</div>